{%extends 'layout.html'%}


{%block body%}
<div class="jumbotron text-center mt-3" >
    <h1>Welcome to flask App</h1>
    <p class="lead" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat totam animi enim veniam deserunt atque porro nihil ex ipsum necessitatibus, dignissimos aperiam maxime magni nobis recusandae, maiores a! Commodi, optio! </p>
{%if session.logged_in == NULL%}
<a href="/register" class="btn btn-primary btn-block" >Register</a>
<a href="/login" class="btn btn-success btn-block" >Login</a>
{%endif%}
</div>
{%endblock%}